# Игнорируем файлы и директории PyCharm
.idea/
*.iml

# Игнорируем виртуальные окружения
venv/
env/

# Игнорируем кэш Python
__pycache__/
*.py[cod]

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем файлы данных и конфигурации
*.db
*.sqlite3
*.env

# Игнорируем файлы сборки и дистрибуции
build/
dist/
*.egg-info/